<template>
  <div>
    <div class="new-order edit">
      <div class="step">
        <h2>Заказчик</h2>
        <div class="form-group req" :class="{ error: error.email }">
          <label>Email</label>
          <el-input placeholder="Email" v-model="order_data.email"></el-input>
          <span class="error-text">Введите email</span>
        </div>
        <div class="form-group req" :class="{ error: error.name }">
          <label>Имя</label>
          <el-input placeholder="Имя" v-model="order_data.name"></el-input>
          <span class="error-text">Введите Имя</span>
        </div>
        <div class="form-group req" :class="{ error: error.lastname }">
          <label>Фамилия</label>
          <el-input
            placeholder="Фамилия"
            v-model="order_data.lastname"
          ></el-input>
          <span class="error-text">Введите Фамилию</span>
        </div>
        <div class="form-group req" :class="{ error: error.phone }">
          <label>Телефон</label>
          <el-input placeholder="Телефон" v-model="order_data.phone"></el-input>
          <span class="error-text">Введите Телефон</span>
        </div>
      </div>
      <div class="step">
        <h2>Заказ</h2>
        <div class="products">
          <label>Позиция</label>
          <div class="input-holder">
            <div
              class="input-item"
              v-for="(item, index) in order_data.products"
              v-bind:key="index"
            >
              <el-input
                placeholder="Шариковыe ручки"
                v-model="item.product"
                :class="{ error: error.phone }"
              ></el-input>
              <span class="remove" @click="RemoveProduct(index)"></span>
            </div>
          </div>
          <span class="error-text" :class="{ error: error.products }"
            >Все позиции должны быть заполнены</span
          >

          <el-button @click="AddProduct()">Добавить позицию</el-button>
        </div>

        <div class="form-group req" :class="{ error: error.type }">
          <label>Тип</label>
          <el-select v-model="order_data.type" clearable placeholder="Тип">
            <el-option
              v-for="item in order_types"
              :key="item.value"
              :label="item.label"
              :value="item"
            >
            </el-option>
          </el-select>
          <span class="error-text">Введите Тип</span>
        </div>
        <div class="form-group req" :class="{ error: error.provider }">
          <label>Поставщик</label>
          <el-select
            v-model="order_data.provider"
            clearable
            placeholder="Поставщик"
          >
            <el-option
              v-for="item in order_providers"
              :key="item.value"
              :label="item.label"
              :value="item"
            >
            </el-option>
          </el-select>
          <span class="error-text">Введите Поставщик</span>
        </div>
        <div class="form-group">
          <label>Ваш ID заказа</label>
          <el-input :value="order_data.s_id" disabled></el-input>
        </div>
        <div class="form-group req" :class="{ error: error.lastday }">
          <label>Дата выполнения заказа</label>
          <el-date-picker
            v-model="order_data.day"
            type="date"
            placeholder="Pick a day"
          >
          </el-date-picker>
          <span class="error-text">Введите Дату</span>
        </div>
        <div class="state-select">
          <label>Статус заказа</label>
          <el-select
            v-model="order_data._state"
            v-bind:class="{
              new: order_data._state == 'New',
              waiting: order_data._state == 'Waiting',
              expired: order_data._state == 'Expired',
              finished: order_data._state == 'Finished',
              failed: order_data._state == 'Failed',
            }"
          >
            <el-option
              v-for="item in state_list"
              :key="item.value"
              :label="item.label"
              :value="item.value"
              :class="{
                new: item.label == 'New',
                waiting: item.label == 'Waiting',
                expired: item.label == 'Expired',
                finished: item.label == 'Finished',
                failed: item.label == 'Failed',
              }"
            >
            </el-option>
          </el-select>
        </div>
        <div class="form-group">
          <label>Комментарий</label>
          <el-input
            type="textarea"
            :autosize="{ minRows: 2, maxRows: 4 }"
            placeholder="Please input"
            v-model="order_data.msg"
          >
          </el-input>
        </div>
        <el-button @click="editOrder()">Изменить заказ</el-button>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "../firebase";
const db = firebase.firestore();
export default {
  data() {
    return {
      state_list: [
        {
          value: "New",
          label: "New",
        },
        {
          value: "Waiting",
          label: "Waiting",
        },
        {
          value: "Expired",
          label: "Expired",
        },
        {
          value: "Finished",
          label: "Finished",
        },
        {
          value: "Failed",
          label: "Failed",
        },
      ],
      error: {
        email: false,
        name: false,
        lastname: false,
        phone: false,
        products: false,
        type: false,
        provider: false,
        day: false,
      },
      order_data: {},
      order_types: [
        {
          value: "p",
          label: "Розница",
        },
        {
          value: "o",
          label: "Опт",
        },
      ],
      order_providers: [
        {
          value: "1",
          label: "Поставщик 1",
        },
        {
          value: "2",
          label: "Поставщик 2",
        },
      ],
    };
  },
  methods: {
    editOrder() {
      let t = this;
      if (!this.ValidateOrder()) {
        db.collection("orders")
          .doc(t.$store.state.editId)
          .update({ data: t.order_data })
          .then(() => {})
          .catch((error) => {
            console.error("Error writing document: ", error);
          });
        t.$store.state.editId = "";
        t.$router.push({
          name: "Orders",
        });
      }
    },
    ValidateOrder() {
      let total = 8;
      let re_phone = "^[0-9]+$";
      let re_email = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if (this.order_data.name == "") {
        this.error.name = true;
      } else {
        this.error.name = false;
        total -= 1;
      }
      if (this.order_data.lastname == "") {
        this.error.lastname = true;
      } else {
        this.error.lastname = false;
        total -= 1;
      }
      if (this.order_data.products.some((i) => i.product == "")) {
        this.error.products = true;
      } else {
        this.error.products = false;
        total -= 1;
      }
      if (this.order_data.type.value == "") {
        this.error.type = true;
      } else {
        this.error.type = false;
        total -= 1;
      }
      if (this.order_data.provider.value == "") {
        this.error.provider = true;
      } else {
        this.error.provider = false;
        total -= 1;
      }
      if (this.order_data.day == "") {
        this.error.day = true;
      } else {
        this.error.day = false;
        total -= 1;
      }

      if (this.order_data.phone == "") {
        this.error.phone = true;
      } else if (!this.order_data.phone.match(re_phone)) {
        this.error.phone = true;
      } else {
        this.error.phone = false;
        total -= 1;
      }

      if (this.order_data.email == "") {
        this.error.email = true;
      } else if (!re_email.test(this.order_data.email)) {
        this.error.email = true;
      } else {
        this.error.email = false;
        total -= 1;
      }
      return total;
    },
    readOrders() {
      let t = this;
      db.collection("orders")
        .get()
        .then((querySnapshot) => {
          t.getAllOrders(querySnapshot);
        })
        .catch((error) => {
          console.log("Error getting documents: ", error);
        });
    },
    getAllOrders(data) {
      let t = this;
      data.forEach((doc) => {
        if (doc.id == this.$store.state.editId) {
          this.order_data = {
            id: doc.id,
            s_id: doc.data().data.s_id,
            _date: doc.data().data._date,
            _name: doc.data().data._name,
            _state: doc.data().data._state,
            name: doc.data().data.name,
            lastname: doc.data().data.lastname,
            email: doc.data().data.email,
            phone: doc.data().data.phone,
            products: doc.data().data.products,
            provider: doc.data().data.provider,
            type: doc.data().data.type,
            day: doc.data().data.day,
          };
        }
      });
    },
    AddProduct() {
      this.order_data.products.push({ product: "" });
    },
    RemoveProduct(index) {
      if (index != 0) {
        this.order_data.products.splice(index, 1);
      }
    },
  },
  watch: {
    "order_data.type": function (val, oldVal) {
      this.order_data.s_id = val.value + "-" + this.order_data.provider.value;
    },
    "order_data.day": function (val, oldVal) {
      if (typeof val == "object") {
        this.order_data.day = "" + val.toISOString().slice(0, 10);
      }
    },
    "order_data.phone": function (val) {
      if (!val.match("^[0-9]+$")) {
        this.order_data.phone = val.split("").splice(val.length).join("");
      }
    },
    "order_data.provider": function (val, oldVal) {
      this.order_data.s_id = this.order_data.type.value + "-" + val.value;
    },
  },
  mounted() {
    this.readOrders();
  },
};
</script>
