<template>
  <div>
    <div class="new-order">
      <div class="step">
        <h2>Заказчик</h2>
        <div class="form-group req" :class="{ error: error.email }">
          <label>Email</label>
          <el-input placeholder="Email" v-model="order_data.email"></el-input>
          <span class="error-text">Введите email</span>
        </div>
        <div class="form-group req" :class="{ error: error.name }">
          <label>Имя</label>
          <el-input placeholder="Имя" v-model="order_data.name"></el-input>
          <span class="error-text">Введите Имя</span>
        </div>
        <div class="form-group req" :class="{ error: error.lastname }">
          <label>Фамилия</label>
          <el-input
            placeholder="Фамилия"
            v-model="order_data.lastname"
          ></el-input>
          <span class="error-text">Введите Фамилию</span>
        </div>
        <div class="form-group req" :class="{ error: error.phone }">
          <label>Телефон</label>
          <el-input
            placeholder="Телефон"
            v-model="order_data.phone"
            maxlength="10"
          ></el-input>
          <span class="error-text">Введите Телефон</span>
        </div>
      </div>
      <div class="step">
        <h2>Заказ</h2>
        <div class="products">
          <label>Позиция</label>
          <div class="input-holder">
            <div
              class="input-item"
              v-for="(item, index) in order_data.products"
              v-bind:key="index"
            >
              <el-input
                placeholder="Шариковыe ручки"
                v-model="item.product"
                :class="{ error: error.phone }"
              ></el-input>
              <span class="remove" @click="RemoveProduct(index)"></span>
            </div>
          </div>
          <span class="error-text" :class="{ error: error.products }"
            >Все позиции должны быть заполнены</span
          >

          <el-button @click="AddProduct()">Добавить позицию</el-button>
        </div>

        <div class="form-group req" :class="{ error: error.type }">
          <label>Тип</label>
          <el-select v-model="order_data.type" clearable placeholder="Тип">
            <el-option
              v-for="item in order_types"
              :key="item.value"
              :label="item.label"
              :value="item"
            >
            </el-option>
          </el-select>
          <span class="error-text">Введите Тип</span>
        </div>
        <div class="form-group req" :class="{ error: error.provider }">
          <label>Поставщик</label>
          <el-select
            v-model="order_data.provider"
            clearable
            placeholder="Поставщик"
          >
            <el-option
              v-for="item in order_providers"
              :key="item.value"
              :label="item.label"
              :value="item"
            >
            </el-option>
          </el-select>
          <span class="error-text">Введите Поставщик</span>
        </div>
        <div class="form-group">
          <label>Ваш ID заказа</label>
          <el-input :value="order_data.s_id" disabled></el-input>
        </div>
        <div class="form-group req" :class="{ error: error.day }">
          <label>Дата выполнения заказа</label>
          <el-date-picker
            v-model="order_data.day"
            type="date"
            placeholder="Pick a day"
          >
          </el-date-picker>
          <span class="error-text">Введите Дату</span>
        </div>
        <div class="form-group">
          <label>Комментарий</label>
          <el-input
            type="textarea"
            :autosize="{ minRows: 2, maxRows: 4 }"
            placeholder="Please input"
            v-model="order_data.msg"
          >
          </el-input>
        </div>
        <el-button @click="createOrder()">Создать заказ</el-button>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "../firebase";
const db = firebase.firestore();
export default {
  data() {
    return {
      error: {
        email: false,
        name: false,
        lastname: false,
        phone: false,
        products: false,
        type: false,
        provider: false,
        day: false,
      },
      order_data: {
        _date: new Date().toISOString().slice(0, 10),
        _name: this.$store.state.user,
        _state: "New",
        s_id: "",
        email: "",
        name: "",
        lastname: "",
        phone: "",
        products: [{ product: "" }],
        type: {
          value: "",
          label: "",
        },
        provider: {
          value: "",
          label: "",
        },
        day: "",
        msg: "",
      },
      order_types: [
        {
          value: "p",
          label: "Розница",
        },
        {
          value: "o",
          label: "Опт",
        },
      ],
      order_providers: [
        {
          value: "1",
          label: "Поставщик 1",
        },
        {
          value: "2",
          label: "Поставщик 2",
        },
      ],
    };
  },
  methods: {
    createOrder() {
      let t = this;
      if (!this.ValidateOrder()) {
        db.collection("orders")
          .add({ data: t.order_data })
          .then(() => {})
          .catch((error) => {
            console.error("Error writing document: ", error);
          });
        this.ClearOrder();
      }
    },
    ValidateOrder() {
      let total = 8;
      let re_phone = "^[0-9]+$";
      let re_email = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if (this.order_data.name == "") {
        this.error.name = true;
      } else {
        this.error.name = false;
        total -= 1;
      }
      if (this.order_data.lastname == "") {
        this.error.lastname = true;
      } else {
        this.error.lastname = false;
        total -= 1;
      }
      if (this.order_data.products.some((i) => i.product == "")) {
        this.error.products = true;
      } else {
        this.error.products = false;
        total -= 1;
      }
      if (this.order_data.type.value == "") {
        this.error.type = true;
      } else {
        this.error.type = false;
        total -= 1;
      }
      if (this.order_data.provider.value == "") {
        this.error.provider = true;
      } else {
        this.error.provider = false;
        total -= 1;
      }
      if (this.order_data.day == "") {
        this.error.day = true;
      } else {
        this.error.day = false;
        total -= 1;
      }

      if (this.order_data.phone == "") {
        this.error.phone = true;
      } else if (!this.order_data.phone.match(re_phone)) {
        this.error.phone = true;
      } else if (this.order_data.phone.length <= 9) {
        this.error.phone = true;
      } else {
        this.error.phone = false;
        total -= 1;
      }

      if (this.order_data.email == "") {
        this.error.email = true;
      } else if (!re_email.test(this.order_data.email)) {
        this.error.email = true;
      } else {
        this.error.email = false;
        total -= 1;
      }
      return total;
    },
    ClearOrder() {
      this.order_data = {
        _date: new Date().toISOString().slice(0, 10),
        _name: this.$store.state.user,
        _state: "New",
        s_id: "",
        email: "",
        name: "",
        lastname: "",
        phone: "",
        products: [{ product: "" }],
        type: {
          value: "",
          label: "",
        },
        provider: {
          value: "",
          label: "",
        },
        day: "",
        msg: "",
      };
    },
    AddProduct() {
      this.order_data.products.push({ product: "" });
    },
    RemoveProduct(index) {
      if (index != 0) {
        this.order_data.products.splice(index, 1);
      }
    },
  },
  watch: {
    "order_data.type": function (val, oldVal) {
      this.order_data.s_id = val.value + "-" + this.order_data.provider.value;
    },
    "order_data.day": function (val, oldVal) {
      if (typeof val == "object") {
        this.order_data.day = "" + val.toISOString().slice(0, 10);
      }
    },
    "order_data.phone": function (val) {
      if (!val.match("^[0-9]+$")) {
        this.order_data.phone = val.split("").splice(val.length).join("");
      }
    },
    "order_data.provider": function (val, oldVal) {
      this.order_data.s_id = this.order_data.type.value + "-" + val.value;
    },
  },
};
</script>
