<template>
  <div class="orders">
    <el-table :data="pagedTableData" style="width: 100%">
      <el-table-column label="Дата" prop="_date" sortable width="120">
      </el-table-column>
      <el-table-column label="Имя" prop="_name" width="120"> </el-table-column>
      <el-table-column label="ID" prop="s_id, id" sortable width="230">
        <template slot-scope="scope">
          <p>{{ scope.row.s_id + scope.row.id }}</p>
        </template>
      </el-table-column>
      <el-table-column label="Тип" prop="type.label" sortable width="100">
      </el-table-column>
      <el-table-column
        label="Заказчик"
        prop="name, lastname"
        sortable
        width="120"
      >
        <template slot-scope="scope">
          <p>{{ scope.row.name + " " + scope.row.lastname }}</p>
        </template>
      </el-table-column>
      <el-table-column
        label="Поставщик"
        prop="provider.label"
        sortable
        width="150"
      >
      </el-table-column>
      <el-table-column label="Выполнен" prop="day" sortable width="120">
        <template slot-scope="scope">
          <p>{{ scope.row.day > scope.row._date ? "-" : scope.row.day }}</p>
        </template>
      </el-table-column>
      <el-table-column label="Статус" sortable prop="_state" width="140">
        <template slot-scope="scope">
          <el-select
            v-model="scope.row._state"
            @change="changeState(scope.row.id, scope.row._state)"
            v-bind:class="{
              new: scope.row._state == 'New',
              waiting: scope.row._state == 'Waiting',
              expired: scope.row._state == 'Expired',
              finished: scope.row._state == 'Finished',
              failed: scope.row._state == 'Failed',
            }"
          >
            <el-option
              v-for="item in state_list"
              :key="item.value"
              :label="item.label"
              :value="item.value"
              :class="{
                new: item.label == 'New',
                waiting: item.label == 'Waiting',
                expired: item.label == 'Expired',
                finished: item.label == 'Finished',
                failed: item.label == 'Failed',
              }"
            >
            </el-option>
          </el-select>
        </template>
      </el-table-column>
      <!-- <el-table-column>
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="danger"
            @click="deleteOrder(scope.row.id)"
            >Delete</el-button
          >
        </template>
      </el-table-column> -->
      <el-table-column>
        <template slot-scope="scope">
          <el-button
            size="mini"
            @click="editOrder(scope.row.id, scope.row._state)"
            >Ред.</el-button
          >
        </template>
      </el-table-column>
    </el-table>
    <div class="pagination">
      <el-pagination
        layout="prev, pager, next"
        :total="this.ordersData.length"
        :page-size="pageSize"
        @current-change="setPage"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
import firebase from "../firebase";
const db = firebase.firestore();
export default {
  data() {
    return {
      clearData: {},
      ordersData: [],
      state_list: [
        {
          value: "New",
          label: "New",
        },
        {
          value: "Waiting",
          label: "Waiting",
        },
        {
          value: "Expired",
          label: "Expired",
        },
        {
          value: "Finished",
          label: "Finished",
        },
        {
          value: "Failed",
          label: "Failed",
        },
      ],
      page: 1,
      pageSize: 50,
    };
  },
  methods: {
    readOrders() {
      let t = this;
      db.collection("orders")
        .get()
        .then((querySnapshot) => {
          this.clearData = querySnapshot;
          this.getAllOrders();
        })
        .catch((error) => {
          console.log("Error getting documents: ", error);
        });
    },
    checkDate(lastday) {
      let ans = "";
      let currday = new Date().toISOString().slice(0, 10);
      if (currday < lastday) {
        ans = "-";
      } else {
        ans = lastday;
      }
      return ans;
    },
    deleteOrder(id) {
      db.collection("orders")
        .doc(id)
        .delete()
        .then(() => {
          this.readOrders();
        })
        .catch((error) => {
          console.error("Error removing document: ", error);
        });
    },
    editOrder(id, state) {
      let t = this;
      this.$store.state.editId = "";
      this.$store.state.editId = id;

      this.$router.push({
        name: "Edit",
      });
    },
    getAllOrders() {
      this.ordersData = [];
      let t = this;
      this.clearData.forEach((doc) => {
        this.ordersData.push({
          id: doc.id,
          s_id: doc.data().data.s_id,
          _date: doc.data().data._date,
          _name: doc.data().data._name,
          _state: doc.data().data._state,
          name: doc.data().data.name,
          lastname: doc.data().data.lastname,
          email: doc.data().data.email,
          phone: doc.data().data.phone,
          products: doc.data().data.products,
          provider: doc.data().data.provider,
          type: doc.data().data.type,
          day: doc.data().data.day,
        });
      });
    },
    setPage(val) {
      this.page = val;
    },
    changeState(id, state) {
      let t = this;
      let curr = this.ordersData.filter((item) => item.id == id)[0];
      db.collection("orders")
        .doc(id)
        .update({ data: curr })
        .then(() => {})
        .catch((error) => {
          console.error("Error writing document: ", error);
        });
    },
  },
  computed: {
    pagedTableData() {
      return this.ordersData.slice(
        this.pageSize * this.page - this.pageSize,
        this.pageSize * this.page
      );
    },
  },
  mounted() {
    this.readOrders();
  },
};
</script>
