<template>
  <div class="signin">
    <el-input
      placeholder="login"
      v-model="login"
      @focus="error = false"
    ></el-input>
    <el-input
      placeholder="password"
      v-model="password"
      @focus="error = false"
    ></el-input>
    <el-button @click="SignIn()">Войти</el-button>
    <ul class="error-list">
      <li v-show="error">Неправильно введен логин или пароль</li>
      <li>{{ anotherError }}</li>
    </ul>
  </div>
</template>
<script>
import firebase from "../firebase";
const db = firebase.firestore();
export default {
  data() {
    return {
      login: "",
      password: "",
      anotherError: "",
      error: false,
    };
  },
  methods: {
    SignIn() {
      this.anotherError = "";
      db.collection("users")
        .get()
        .then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            this.CheckUserReg(doc.data());
          });
        })
        .catch((error) => {
          this.anotherError = error;
        });
    },
    CheckUserReg(data) {
      if (this.login == data.login && this.password == data.password) {
        this.$store.state.user = data.username;
        this.$router.push({
          name: "Home",
        });
      } else {
        this.error = true;
      }
    },
  },
};
</script>