<template>
  <div id="app">
    <div id="nav" v-if="$store.state.user">
      <router-link to="/home">Приветствие</router-link>
      <router-link to="/orders">Заказы</router-link>
      <router-link to="/new-order">Новый заказ</router-link>
    </div>
    <div class="route-holder">
      <router-view />
    </div>
  </div>
</template>

