*, *:before, *:after
  box-sizing: border-box
  outline: none

body, p, figure, h1, h2, h3, h4, h5, h6
  margin: 0

video
  margin: 0
  padding: 0

ul, dl, menu
  margin: 0
  padding: 0
  list-style: none

input[type="search"]::-webkit-search-cancel-button
  display: none

button
  outline: none
  border: none
  padding: 0
  cursor: pointer
  background: transparent
  font-size: inherit
  line-height: inherit

input, select
  outline: none
  border: none
  border-radius: 0
  -webkit-appearance: none
  font-size: inherit
  background: none

button, input, textarea
  -webkit-appearance: none
  margin: 0
  font-family: inherit
  color: inherit
  font-size: inherit
  border: none
  resize: none
  line-height: inherit
  &::placeholder
    color: inherit
  &:focus, &:active
    outline: none

address
  font-style: normal
  font-size: inherit
  color: inherit
  line-height: inherit

a
  text-decoration: none
  cursor: pointer
  overflow-wrap: break-word
  color: inherit

i
  font-style: normal

img
  max-width: 100%
  vertical-align: middle
  border: none

svg
  width: 100%
  height: 100%

@mixin bp($point, $type: min)
  @media screen and (#{$type}-width: #{$point}px)
    @content

body 
  font-family: sans-serif

#app 
  overflow: hidden

#nav 
 
  display: flex 
  align-items: center 
  justify-content: space-between 
  color: blue
  .router-link-exact-active
    color: gray
    border-bottom-color: transparent
    border-left-color: #e6e6e6
    border-right-color: #e6e6e6
    border-radius: 10px 10px 0 0
    

  a 
    width: 100% 
    text-align: center 
    padding: 20px 5vw
    display: block 
    border-bottom: 2px solid #e6e6e6
    border-left: 2px solid transparent
    border-right: 2px solid transparent
    margin: 0 -1px

.route-holder 
  padding: 20px 5vw

.home 
  display: flex 
  align-items: center 
  justify-content: center 
  padding-top: 100px

.new-order 
  max-width: 400px 
  margin: 0 auto 30px
  h2 
    font-weight: 500 
    margin-bottom: 15px
    grid-column: 1/3
  .step 
    margin-bottom: 30px
    // display: grid 
    // grid-template-columns: repeat(2, 1fr)
    // grid-column-gap: 10px 
    align-items: flex-start
    .state-select
      .el-select 
        input
          color: white 
          font-weight: 700
          
        &.new 
          input
            background: #409eff
            
        &.waiting
          input
            background: #e6a23c
        &.expired
          input
            background: #909399
        &.finished
          input
            background: #67c23a
        &.failed
          input
            background: #f56c6c  
      label 
        margin-bottom: 10px
        display: inline-block
        font-size: 12px
    .form-group
      margin-bottom: 20px
      position: relative
      label 
        margin-bottom: 10px
        display: inline-block
        font-size: 12px
      &.error 
        .el-input__inner
          border-color: red !important
        .error-text 
          opacity: 1
      .error-text
        color: red 
        font-size: 12px
        opacity: 0
        transition: opacity .5s ease
        position: absolute 
        bottom: -12px
        left: 0
      &.req
        label 
          position: relative
          &:before 
            content: '*'
            color: red  
            margin-right: 5px

  .el-select, .el-button, .el-input
    width: 100%
  .el-input
    .el-input__inner 
      border-color: #DCDFE6
  .el-input__suffix
    display: none
  .el-input 
    margin-bottom: 5px
    

    &__inner
      color: black
      transition: border .5s ease
      &:disabled
        color: black
  .products 
    margin-bottom: 20px
    .el-button
      width: fit-content 
      margin-right: auto
    label 
      margin-bottom: 10px
      display: inline-block
      font-size: 12px
      width: 100%
      &:before 
        content: '*'
        color: red  
        margin-right: 5px
    .error-text 
      color: red  
      opacity: 0
      font-size: 12px
      margin-bottom: 10px
      display: inline-block
      width: 100%
      &.error 
        opacity: 1
    
    .input-item 
      position: relative
      &:not(:last-of-type)
        margin-bottom: 10px

      &:nth-child(1)
        .remove
          opacity: 0 
          visibility: hidden

      .remove
        width: 15px 
        display: block 
        position: absolute 
        right:  0
        z-index: 3 
        top: 0 
        bottom: 0
        cursor: pointer
        &:before, &:after 
          content: ''
          position: absolute 
          top: 19px
          height: 1px
          left: 0
          width: 10px
          border-bottom: 1px solid red
          transform: rotate(45deg)
        &:after 
          transform: rotate(-45deg)

.orders 
  .el-table 
    .cell 
      white-space: nowrap 
      word-break: initial 
      // min-width: 140px 
  .el-select 
    input
      color: white 
      font-weight: 700
      
    &.new 
      input
        background: #409eff
        
    &.waiting
      input
        background: #e6a23c
    &.expired
      input
        background: #909399
    &.finished
      input
        background: #67c23a
    &.failed
      input
        background: #f56c6c  
  
.el-select-dropdown.el-popper 
  .el-select-dropdown__item
    font-weight: 700
    &.new 
      background: #409eff
    &.waiting
      background: #e6a23c
    &.expired
      background: #909399
    &.finished
      background: #67c23a
    &.failed
      background: #f56c6c
    &.selected 
      color: black 
      opacity: .5

.edit 
  
.signin 
  max-width: 200px 
  margin: 0 auto 
  padding-top: 50px
  .el-input, .el-button 
    width: 100%
    margin-bottom: 20px

  .error-list 
    color: red 
    font-size: 12px

.pagination 
  padding: 5vw 
  display: flex 
  align-items: center 
  justify-content: center